# Node.js
node_modules/

# Gulp
dist/

# npm
package-lock.json

# MacOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/

# Sass
.sass-cache/

# Operating system files
Thumbs.db